In [1]:
import pandas as pd
import numpy as np
import statsmodels.stats.proportion as sp

In [2]:
df = pd.read_csv("ads_test.csv")
df.head()

   id  user_id                   timestamp      group advertising_pid  clk
0   1   851104  2021-01-21 22:11:48.556739    control     430576_1007    0
1   2   804228  2021-01-12 08:01:45.159739    control     430576_1007    0
2   3   661590  2021-01-11 16:55:06.154213  treatment     430575_1007    0
3   4   853541  2021-01-08 18:28:03.143765  treatment     430575_1007    0
4   5   864975  2021-01-21 01:52:26.210827    control     430576_1007    1

In [3]:
df.shape

(294478, 6)

In [4]:
df.isnull().any()

id                 False
user_id            False
timestamp          False
group              False
advertising_pid    False
clk                False
dtype: bool

Check all advertising_pid of the 'control' group are 430576_1007

In [5]:
df[((df.group == "control")!=(df.advertising_pid == "430576_1007"))]

Empty DataFrame
Columns: [id, user_id, timestamp, group, advertising_pid, clk]
Index: []

Check all advertising_pid of the 'treatment' group are 430575_1007

In [6]:
df[((df.group == "treatment")!=(df.advertising_pid == "430575_1007"))]

Empty DataFrame
Columns: [id, user_id, timestamp, group, advertising_pid, clk]
Index: []

In [7]:
df.duplicated().any()

False

In [12]:
group = df.groupby('group').sum()['clk']

In [15]:
rate_control = group['control']/sum(group)
rate_treatment=group['treatment']/sum(group)

In [16]:
rate_control

0.4948807365043939

In [17]:
rate_treatment

0.5051192634956061

In [36]:
df.groupby('group').describe()

                 id                                                       \
              count           mean           std  min      25%       50%
group
control    147239.0  147330.054653  84991.527646  1.0  73650.5  147410.0
treatment  147239.0  147148.945347  85025.902339  3.0  73587.5  147071.0

                                user_id                 ...            \
                75%       max     count           mean  ...       75%
group                                                   ...
control    220869.5  294477.0  147239.0  788139.425329  ...  867167.0
treatment  220847.0  294478.0  147239.0  787808.824136  ...  866675.5

                          clk
                max     count      mean       std  min  25%  50%  75%  max
group
control    945998.0  147239.0  0.120478  0.325520  0.0  0.0  0.0  0.0  1.0
treatment  945999.0  147239.0  0.122970  0.328404  0.0  0.0  0.0  0.0  1.0

[2 rows x 24 columns]

In [43]:
df.count()

id                 294478
user_id            294478
timestamp          294478
group              294478
advertising_pid    294478
clk                294478
dtype: int64

In [46]:
count = np.array([group['control'],group['treatment']])
nobs = np.array([147239,147239])

In [47]:
z_score, p_value = sp.proportions_ztest(count,nobs,alternative='smaller')

In [48]:
z_score

-2.068408103750818

In [49]:
p_value

0.019300831916173038

Since p-value = 0.0193 < 0.05, we cannot reject null hypothesis.